.primary-button, .secondary-button {
  padding: 6px 10px;
  background: #734BBA;
  border: 0;
  outline: 0;
  color: #fff;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  margin: 20px 0;
  box-shadow: 0 2px 8px #ccb5f7;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: 0.25s transform;
  border: 2px solid transparent;
}
.primary-button:hover, .secondary-button:hover {
  transform: scale(0.98);
}

.secondary-button {
  border: 2px solid #734BBA;
  background: #fff;
  color: #734BBA;
  box-shadow: none;
}

.time-xx, .time-xy {
  display: inline-block;
  border-radius: 0.25rem;
  color: #fff;
  background: #FFA51E;
  padding: 7px 14px;
  font-size: 0.86rem;
}

.time-xy {
  background: #c9c8c8;
  color: #333;
}

.mentor-btn-01, .mentor-btn-02 {
  border-radius: 1rem;
  background: #734BBA;
  color: #fff;
  padding: 2px 14px;
  font-size: 1.2rem;
}

.mentor-btn-02 {
  background: #FFA51E;
}

.text-field, .password-field, select.select-field {
  border: 1px solid #333;
  padding: 7px 14px;
  border-radius: 0.4rem;
  margin-bottom: 20px;
  margin-top: 8px;
}
.text-field input, .password-field input, select.select-field input {
  border: 0;
  width: 100%;
  padding: 10px;
  outline: none;
  transition: 0.6s;
}
.text-field input:focus, .password-field input:focus, select.select-field input:focus {
  padding-left: 24px;
}

select.select-field {
  padding: 18px;
}

.password-field {
  display: flex;
  align-items: center;
}
.password-field i {
  color: #734BBA;
  font-size: 1.2rem;
}
.password-field input {
  margin: 0 8px;
}

.arrow-right, .arrow-left {
  color: #734BBA;
  font-size: 0.96rem;
}

.profile-card-1, .profile-card-2 {
  background: #FFFAF2;
  width: 260px;
  padding: 14px 24px;
  box-shadow: 0 6px 8px #c0c0c0;
  border-radius: 0.5rem;
}
.profile-card-1 .img, .profile-card-2 .img {
  overflow: hidden;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.profile-card-1 .name, .profile-card-2 .name {
  font-weight: 600;
}
.profile-card-1 .name, .profile-card-2 .name, .profile-card-1 .title, .profile-card-2 .title {
  font-size: 0.96rem;
}
.profile-card-1 .ratings, .profile-card-2 .ratings {
  color: #FFA51E;
}

.event-card {
  background: #f3f3f3;
  width: 240px;
  padding: 10px;
  border-radius: 0.25rem;
  box-shadow: 0 6px 8px #c0c0c0;
}
.event-card .img {
  overflow: hidden;
  border-radius: 0.25rem;
}
.event-card .body {
  color: #6A6A6A;
}

.program-card {
  width: 250px;
  background: #FBF1FF;
  padding: 12px 20px 12px 12px;
  border-radius: 0.25rem;
  box-shadow: 0 0 8px #e9e9e9;
}
.program-card .title p {
  font-weight: 500;
}
.program-card .body {
  color: #6A6A6A;
}
.program-card .footer .con-img .img {
  overflow: hidden;
  border-radius: 50%;
  width: 26px;
  height: 26px;
}
.program-card .footer p {
  font-size: 0.94rem;
}

.task-card {
  width: 260px;
  background: #F8FFF7;
  padding: 12px;
  border-radius: 0.5rem;
}
.task-card .title p {
  font-size: 0.76rem;
  text-decoration: underline;
}
.task-card .title .button {
  background: #734BBA;
  color: #fff;
  font-size: 0.8rem;
  padding: 0px 12px;
  border-radius: 1rem;
}
.task-card .body p {
  font-size: 0.96rem;
  text-decoration: underline;
}

.goal-card {
  background: #F2F2F2;
  width: 240px;
  padding: 12px;
  box-shadow: 0 0 8px #e9e9e9;
}
.goal-card .header p {
  font-weight: 500;
}
.goal-card .footer p {
  font-size: 0.8rem;
}
.goal-card .footer .status-btn-1, .goal-card .footer .status-btn-3, .goal-card .footer .status-btn-2 {
  font-size: 0.8rem;
  color: #fff;
  background: #33aa57;
  padding: 2px 8px;
  border-radius: 1rem;
}
.goal-card .footer .status-btn-2 {
  background: #FFA51E;
}
.goal-card .footer .status-btn-3 {
  background: #e02323;
}

.modal-header, .modal-footer, .modal-content {
  border: 0;
}

.text-field, select.select-field, .password-field {
  width: 400px;
}

#edit-contact .modal-dialog {
  max-width: 900px;
}
#edit-contact .modal-dialog .modal-body .input-email {
  color: #bdbbbb;
}
#edit-contact .modal-dialog .modal-body .input-email .text-field, #edit-contact .modal-dialog .modal-body .input-email select.select-field, #edit-contact .modal-dialog .modal-body .input-email .password-field {
  margin-bottom: 8px;
}
#edit-contact .modal-dialog .modal-body .input-email p {
  font-size: 0.96rem;
}
#edit-contact .modal-dialog .modal-body .form-select {
  border: 1px solid #333;
  margin-top: 8px;
  margin-bottom: 20px;
  border-color: 0;
  width: 400px;
  padding: 16px 20px;
}

.con-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  color: #888;
}
.con-pagination .left, .con-pagination .right {
  color: #734BBA;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.con-pagination .left.active, .con-pagination .right.active {
  color: #888;
}
.con-pagination .dir {
  padding: 8px 14px;
  border-radius: 0.5rem;
  transition: 0.25s;
  cursor: pointer;
}
.con-pagination .dir:hover {
  background: #734BBA;
  color: #fff !important;
}
.con-pagination .con-count {
  width: 140px;
}
.con-pagination .con-count .count {
  color: #734BBA;
  font-weight: 500;
}
.con-pagination .con-count .count.active {
  color: #888;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

p {
  margin: 0;
}

.con-container {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}

ul {
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

.grey-color-01 {
  color: #8d8d8d;
}

.con-logo {
  color: #fff;
}
.con-logo i {
  font-size: 2.6rem;
}

.profile-dp {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
}

body {
  background: #EDEDED;
}

.primary-button,
.secondary-button {
  font-size: 1rem;
}

.main-container {
  position: relative;
}
.main-container .main-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 6px 12px 0 12px;
  z-index: 10;
}
.main-container .main-navbar .con-navbar {
  background: #734BBA;
  height: 100%;
  border-radius: 0.5rem;
}
.main-container .main-navbar .con-navbar .con-menu {
  padding: 8px;
}
.main-container .main-navbar .con-navbar .con-menu i {
  color: #fff;
  font-size: 1.4rem;
}
.main-container .main-navbar .con-navbar .con-logo i {
  font-size: 2rem;
}
.main-container .con-container {
  margin-top: 90px;
}
.main-container .con-container .row .con-sidebar-left,
.main-container .con-container .row .con-sidebar-right,
.main-container .con-container .row .con-dashboard {
  width: 100%;
  border-radius: 0.8rem;
  overflow: hidden;
}
.main-container .con-container .row .con-sidebar-left {
  background: #734BBA;
  padding: 60px 40px;
}
.main-container .con-container .row .con-sidebar-left ul li {
  margin-bottom: 2.2rem;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  display: flex;
  align-items: center;
}
.main-container .con-container .row .con-sidebar-left ul li:hover {
  color: #FFA51E;
}
.main-container .con-container .row .con-sidebar-left ul li .icon {
  margin-right: 0.6rem;
}
.main-container .con-container .row .con-sidebar-left ul li.active {
  color: #FFA51E;
}
.main-container .con-container .row .con-sidebar-right {
  background: #fff;
  padding: 60px 20px;
}
.main-container .con-container .row .con-sidebar-right .profile-section h1 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #6A6A6A;
}
.main-container .con-container .row .con-sidebar-right .profile-section h2 {
  font-size: 1.2rem;
}
.main-container .con-container .row .con-sidebar-right .profile-section .profile-header .img {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
}
.main-container .con-container .row .con-sidebar-right .task-section h1 {
  font-size: 1.2rem;
}
.main-container .con-container .row .con-sidebar-right .task-section .task-list {
  height: 40vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.main-container .con-container .row .con-sidebar-right .task-section .task-list .task-card {
  width: 98%;
}
.main-container .con-container .row .con-dashboard {
  background: #fff;
}
.main-container .con-container .row .con-dashboard .dashboard {
  padding: 60px 20px;
}
.main-container .con-container .row .con-dashboard .dashboard .con-header .title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 1.6rem;
}
.main-container .con-container .row .con-dashboard .dashboard .con-header p {
  margin-bottom: 1.6rem;
}
.main-container .con-container .row .con-dashboard .dashboard .dashboard-section {
  height: 70.2vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.main-container .con-container .row .con-dashboard .dashboard .dashboard-section::-webkit-scrollbar {
  display: none;
}
.main-container .con-container .row .con-dashboard .dashboard .dashboard-section {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.main-container .con-container .row .con-dashboard .dashboard .dashboard-section .sections {
  margin-bottom: 30px;
}
.main-container .con-container .row .con-dashboard .dashboard .dashboard-section .sections .header {
  margin-bottom: 20px;
}
.main-container .con-container .row .con-dashboard .dashboard .dashboard-section .sections .header h1 {
  font-weight: 500;
  font-size: 18px;
}
.main-container .con-container .row .con-dashboard .dashboard .dashboard-section .sections .con-list {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.main-container .con-container .row .con-dashboard .dashboard .dashboard-section .sections .con-list::-webkit-scrollbar {
  display: none;
}
.main-container .con-container .row .con-dashboard .dashboard .dashboard-section .sections .con-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.main-container .con-container .row .con-dashboard .dashboard .dashboard-section .sections .con-list .list {
  width: 1100px;
  padding-bottom: 20px;
  padding-left: 4px;
}
.main-container .con-container .row .con-dashboard .dashboard .dashboard-section .sections .con-list .list .con-card {
  margin-right: 20px;
}

.con-nav-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.3843137255);
  display: none;
  align-items: center;
  padding: 0 20px;
}
.con-nav-sidebar .nav-sidebar {
  height: 98vh;
  background: #fff;
  max-width: 500px;
  width: 80%;
  border-radius: 0.5rem;
}
.con-nav-sidebar .nav-sidebar .sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.con-nav-sidebar .nav-sidebar .sidebar .item {
  width: 100%;
  padding: 0 12px;
}
.con-nav-sidebar .nav-sidebar .sidebar .item ul li {
  padding: 10px 14px;
  margin: 30px 0;
  display: flex;
  font-size: 1.2rem;
  color: #734BBA;
  background: #fafafa;
  border-radius: 0.5rem;
}
.con-nav-sidebar .nav-sidebar .sidebar .item ul li .icon {
  margin-right: 20px;
}
.con-nav-sidebar .nav-sidebar .sidebar .item ul li.active {
  color: #FFA51E;
}
.con-nav-sidebar .nav-sidebar .sidebar .item ul li.active .icon {
  margin-right: 20px;
}
.con-nav-sidebar .nav-sidebar .sidebar .item.second ul li {
  background: #fff;
}

.con-nav-sidebar.active {
  display: flex;
}

.dropdown .dropdown-menu {
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 16px #bbbbbb;
}

.con-modal .modal .modal-dialog {
  max-width: 900px;
}
.con-modal .modal .modal-dialog .modal-content {
  padding: 14px 12px;
}
.con-modal .modal .modal-dialog .modal-content .modal-body .task-card {
  width: 100%;
}
.con-modal .modal .modal-dialog .modal-content .modal-footer {
  justify-content: flex-start;
}

@media (min-width: 768px) {
  .main-container .con-container .row .con-sidebar-left,
.main-container .con-container .row .con-sidebar-right,
.main-container .con-container .row .con-dashboard {
    height: 91vh;
  }
  .con-nav-sidebar .nav-sidebar .sidebar .item {
    padding: 0 20px;
  }
}
@media (min-width: 992px) {
  .main-container .con-container {
    margin-top: 0;
  }
  .main-container .con-container .row.main-row {
    height: 100vh;
  }
  .main-container .con-container .row.main-row .con-sidebar-left,
.main-container .con-container .row.main-row .con-sidebar-right,
.main-container .con-container .row.main-row .con-dashboard {
    height: 98vh;
    width: 100%;
    border-radius: 0.8rem;
  }
  .main-container .con-container .row.main-row .con-dashboard {
    background: #fff;
  }
  .main-container .con-container .row.main-row .con-dashboard .dashboard {
    padding: 60px 44px;
  }
  .main-container .con-container .row.main-row .con-sidebar-right {
    height: 98vh;
    width: 100%;
    border-radius: 0.8rem;
  }
  .main-container .con-container .row.main-row .task-section .task-list {
    height: 26vh;
  }
}
.goal-card {
  width: 100%;
  padding: 14px 10px;
}

.main-container .con-container .row .con-dashboard .dashboard .con-header .title {
  margin: 0;
}
.main-container .con-container .row .con-dashboard .dashboard .dashboard-section {
  height: 80vh;
  padding: 0 2px;
}
.main-container .con-container .row .con-dashboard .dashboard .dashboard-section .sections {
  margin-bottom: 50px;
}
.main-container .con-container .row .con-dashboard .dashboard .dashboard-section .sections .list .header h2 {
  font-size: 1.2rem;
}