@import overview.dashboard

.event-card
  width: 100%

.main-container
  .con-container
    .row

      .con-dashboard
        .dashboard

          .con-header
            .title
              margin: 0

          .dashboard-section
            height: 80vh
            padding: 0 6px

            .sections
              margin-bottom: 50px
.notification
  .modal-notification
    max-width: 593px !important
  .modal-content-container
    position: relative
  .modal-content
    .new-modal-header
      justify-content: flex-start !important
      padding: 0 1rem !important

      .modal-title
        font-style: normal
        font-weight: 500
        font-size: 24px
        line-height: 29px

      .button
        background: #F2C94C
        color: #fff
        font-size: .8rem
        padding: 3px 8px
        border-radius: 1rem
    .new-modal-body
      .con-row
      .date-info
        display: flex

        display: flex
        justify-content: flex-start
        align-items: center
        gap: 20px

      .event-text
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 19px
        color: #6A6A6A
        padding: 20px
    .new-modal-footer

      .secondary-button, .primary-button
        margin: 0 0 !important
      .cancel-button
        border: 2px solid #dd4718 !important
        background: #fff !important
        color: #dd4718 !important
        padding: 6px 12px !important
  .cancel-container
    padding: 10px

  .circle-cancel
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    padding: 10px
    position: absolute
    top: 0px
    right: -40px
    width: 32px
    height: 32px
    background: #DD4718
    cursor: pointer !important
    pointer-events: auto

.popup-modal
  display: flex
  justify-content: center
  align-items: center
  position: absolute
  bottom: 20px
  transition: .5s
.popup-notification
  max-width: 593px !important
.pop-content
  display: flex
  justify-content: center
  align-items: flex-start
  // gap: 2px
.content
  position: relative
  display: flex
  flex-direction: column
  width: 100%
  pointer-events: auto
  background-color: #fff
  background-clip: padding-box
  border: 1px solid rgba(0,0,0,.2)
  border-radius: 0.3rem
  outline: 0
  padding: 14px 12px
  .con-row
  h3
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
  .header
    display: flex
    justify-content: flex-start !important
    align-items: center
    padding: 10px
    gap: 20px
    border-bottom: 1px solid #dee2e6 !important
    .button
      background: #f2c94c
      color: #fff
      font-size: .8rem
      padding: 3px 8px
      border-radius: 1rem
.cancel-container

.circle-cancel
  display: flex
  justify-content: center
  align-items: center
  border-radius: 50%
  padding: 10px
  position: absolute
  top: 0px
  right: -40px
  width: 30px
  height: 30px
  background: #DD4718
  cursor: pointer !important
  pointer-events: auto

.body-text
  display: -webkit-box
  -webkit-line-clamp: 3
  -webkit-box-orient: vertical
  text-overflow: ellipsis
  overflow: hidden
