<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Event Modal -->
    <div class="modal fade" id="show-event" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notification modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content-container">
            <div class="modal-content">
              <div class="modal-header new-modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Event Name</h5>


              </div>
              <div class="modal-body new-modal-body">
                <div class="con-row">
                  <div class="date-info">
                    <div class="locaton d-flex align-items-center my-2 ">
                      <div class="location-icon">
                        <i class="fa-solid fa-location-dot" style="color: #ffa51e;"></i>
                      </div>
                      <div class="location-place px-3 ">
                        Lagos, Nigeria
                      </div>

                    </div>
                    <div class="date d-flex align-items-center my-2 ">
                      <div class="date-icon">

                        <i class="fa-regular fa-calendar" style="color: #ffa51e;"></i>
                      </div>
                      <div class="  px-3 ">
                        12-06-2023
                      </div>
                      <div class="date-icon">

                        <i class="fa-regular fa-clock" style="color: #ffa51e;"></i>
                      </div>
                      <div class="  px-3 ">
                        12: 00PM
                      </div>
                    </div>
                  </div>
                  <h3 class="event-text">
                    Lorem ipsum dolor sit amet consectetur. Quis eu ut neque ac. Eget congue tincidunt commodo.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, quaerat!
                  </h3>
                </div>
                <div class="modal-footer new-modal-footer">
                  <button class="primary-button px-3">
                    Register <i class="fa-solid fa-arrow-right px-2" style="color: #fff;"></i>
                  </button>

                </div>

              </div>
              <!-- <div class="cancel-container">
              <div class="circle-cancel" data-bs-dismiss="modal">
                <i class="fa-solid fa-xmark" style="color: #fff;"></i>

              </div>
            </div> -->
            </div>




          </div>
        </div>
      </div>
</body>
</html>