<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/register.css">
  <title>Mentor Community - Register</title>
</head>

<body>
  <div class="main-container">
    <!-- Background Cover -->
    <div class="con-cover"></div>

    <!-- Card -->
    <div class="con-card">
      <div class="d-flex align-items-center justify-content-center">
        <div class="cards d-flex my-4">

          <!-- Card Inner -->
          <div class="right col-12">
            <!-- Header -->
            <div class="header d-flex align-items-center justify-content-start">
              <div class="icon pe-2">
                <i class="fa-solid fa-m"></i>
              </div>
              <div class="title">
                <h1>mentor</h1>
                <h1>community</h1>
              </div>
            </div>

            <!-- Body -->
            <div class="body my-3">
              <h2 class="my-4">Register</h2>
              <p class="grey-color-01">Fill in the following fields</p>

              <!-- Form -->
              <form id="form-login" class="mt-3" action="./overview.dashboard.html">
                <div>
                  <div class="row">
                    <div class="col-12 col-lg-6">
                      <label for="text-field">Full Name</label>
                      <div class="text-field" id="text-field">
                        <input type="text" placeholder="Enter Name here">
                      </div>
                    </div>

                    <div class="col-12 col-lg-6">
                      <label for="text-field">Email Address</label>
                      <div class="text-field" id="text-field">
                        <input type="email" placeholder="Enter Email">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 col-lg-6">
                      <label for="text-field">Phone Number</label>
                      <div class="text-field" id="text-field">
                        <input type="number" placeholder="+234">
                      </div>
                    </div>

                    <div class="col-12 col-lg-6">
                      <label for="select-field">Position</label>
                      <select class="form-select select-field" aria-label="Default select example">
                        <option selected>Select work position</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 col-lg-6">
                      <label for="select-field">Department</label>
                      <select class="form-select select-field" aria-label="Default select example">
                        <option selected>Select your Department</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>

                    <div class="col-12 col-lg-6">
                      <label for="password-field">Password</label>
                      <div class="password-field" id="password-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="Enter Desired Password">
                        <i class="fa-solid fa-eye"></i>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-lg-6">
                    <label for="password-field">Confirm Password</label>
                    <div class="password-field" id="password-field">
                      <i class="fa-solid fa-lock"></i>
                      <input type="password" placeholder="Confirm Password">
                      <i class="fa-solid fa-eye"></i>
                    </div>
                  </div>
                </div>

                <div>
                  <h4 class="mb-3">Interest</h4>
                  <p class="grey-color-01">Select your Interest</p>

                  <div class="con-selector">
                    <div class="secondary-button px-3 me-3" id="element-toggle">
                      Marketing
                    </div>

                    <div class="secondary-button px-3 me-3" id="element-toggle">
                      Finance
                    </div>

                    <div class="secondary-button px-3 me-3" id="element-toggle">
                      Bus. Admin
                    </div>

                    <div class="secondary-button px-3 me-3" id="element-toggle">
                      Office Mgt
                    </div>

                    <div class="secondary-button px-3 me-3" id="element-toggle">
                      Javascript
                    </div>
                  </div>


                </div>

                <div>
                  <div class="form-check my-3 my-lg-0">
                    <input class="form-check-input me-3" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label grey-color-01" for="flexCheckChecked">
                      I have read and agreed to the <a href="">Terms</a> and <a href="">Conditions</a>
                    </label>
                  </div>
                </div>

                <div>
                  <button class="primary-button px-3 me-2">
                    Register
                  </button>

                  <button class="secondary-button px-3">
                    Back
                  </button>
                </div>
              </form>

            </div>

            <!-- Footer -->
            <div class="footer d-flex">
              <p class="grey-color-01">Already Registered?</p>
              <a href="../index.html">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="../js/script.js"></script>
</body>

</html>