<!-- Right Sidebar -->
<div class="col-12 col-md-4 col-lg-3 d-lg-flex align-items-center justify-content-center mb-4 mb-lg-0">
    <div class="con-sidebar-right">

        <!-- Profile Section -->
        <div class="profile-section">
            <div class="postion">
                <div class="background"><img src="../Frame 173.png" alt=""></div>
                <div
                    class="profile-header d-flex align-items-center justify-content-center flex-column mb-4 ">
                    <div class="img profile-dp ">
                        <img src="https://images.unsplash.com/photo-1540569014015-19a7be504e3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80"
                            alt="">
                    </div>
                    <h4>Jame Akpan</h4>
                    <h2>IT Developer</h2>

                </div>
            </div>

            <div style="padding: 60px 20px;">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h2>Total No. of Users:</h2>
                    <h1>
                        <span id="goal-total">26</span>
                    </h1>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h2>No. of Mentees:</h2>
                    <h1 id="number-of-mentor">5</h1>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h2>No. of Mentors:</h2>
                    <h1 id="number-of-mentor">5</h1>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h2>No. of Programmes</h2>
                    <h1 id="number-of-program">5</h1>
                </div>



                <div class="d-flex align-items-center justify-content-between">
                    <a href="./admin.profile.dashboard.html">
                        <button class="primary-button px-3">
                            View Profile
                            <i class="fa-solid fa-arrow-right ms-2"></i>
                        </button>
                    </a>

                    <!-- Drop Down -->
                    <div class="dropdown dropstart">
                        <div class="secondary-button" id="gear-setting" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa-solid fa-gear"></i>
                        </div>

                        <ul class="dropdown-menu" aria-labelledby="gear-setting">
                            <li><a class="dropdown-item" href="../index.html">Logout</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="./change-password.html">Change
                                    Password</a>
                            </li>
                        </ul>

                    </div>
                </div>
                <!-- Task Section -->
                <div class="task-section">
                    <div class="d-flex align-items-center justify-content-between mt-5">
                        <h1>
                            Tasks (
                            <span id="number-of-task">
                            0
                            </span>
                            )
                        </h1>

                       
                    </div>

                    <div>
                        <!-- 
                        <div class="task-list">
                            <div class="task-card mb-3">
                                <div class="title d-flex justify-content-between">
                                    <p>12 Jan</p>
                                    <div class="button d-flex align-items-center">Mentor Request</div>
                                </div>
                                <div class="body mt-1">
                                    <p>James Okoye sent you a request</p>
                                </div>
                            </div>

                            <div class="task-card mb-3">
                                <div class="title d-flex justify-content-between">
                                    <p>12 Jan</p>
                                    <div class="button d-flex align-items-center">Mentor Request</div>
                                </div>
                                <div class="body mt-1">
                                    <p>James Okoye sent you a request</p>
                                </div>
                            </div>

                            <div class="task-card mb-3">
                                <div class="title d-flex justify-content-between">
                                    <p>12 Jan</p>
                                    <div class="button d-flex align-items-center">Mentor Request</div>
                                </div>
                                <div class="body mt-1">
                                    <p>James Okoye sent you a request</p>
                                </div>
                            </div>

                            <div class="task-card mb-3">
                                <div class="title d-flex justify-content-between">
                                    <p>12 Jan</p>
                                    <div class="button d-flex align-items-center">Mentor Request</div>
                                </div>
                                <div class="body mt-1">
                                    <p>James Okoye sent you a request</p>
                                </div>
                            </div>
                        </div> -->
                        <div class="no-task">
                            <div class="no-task-img"><img src="../Illustrations.png" alt=""></div>
                            <div class="no-task text">
                                <h3 >You have no pending task
                                </h3>
                                <h3>at the moment</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>




    </div>
</div>