@import variables

.grey-color-01
  color: #8d8d8d

.con-logo
  color: #fff

  i
    font-size: 2.6rem

.profile-dp
  height: 40px
  width: 40px
  overflow: hidden
  border-radius: 50%

.breadcrumb
  margin: 0
  font-size: .9rem
  
  &:not(last-child)
    color: $primary-color

@mixin tablets($class, $value)
  @media (min-width: 992px)
    $class: $value
